fastapi>=0.68.0,<0.69.0
fastapi-utils>=0.2.1,<0.2.2
uvicorn>=0.15.0,<0.16.0
requests>=2.26.0,<2.26.1
fastapi_socketio>=0.0.8,<0.0.9
aiofiles
electiersa
datamodel-code-generator
httpx
qrcode
fpdf
Pillow>=9.0
escpos
pdf2image
python-socketio[asyncio_client]
asyncio
